[submodule "JUCE"]
	path = JUCE
	url = git@github.com:ZL-Audio/JUCE.git
	branch = master
[submodule "highway"]
	path = highway
	url = git@github.com:ZL-Audio/highway.git
[submodule "source/dsp/fft/zldsp_fft"]
	path = source/dsp/fft/zldsp_fft
	url = git@github.com:ZL-Audio/zldsp_fft.git
